@model List<DAL.SahibindenCars>

@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR-2.1.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>

<script>
    var messagehub = $.connection.getCars;

    messagehub.client.reloadCars = function (data) {
        $("#sahibindenCars").html(data);
    }

    $.connection.hub.start();
</script>
<div id="sahibindenCars">
    @{Html.RenderPartial("SahibindenCars", Model);}
</div>
